.challenge4-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.challenge4-banner {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background: #000000;
  background-position: center;
}
.challenge4-text {
  color: #ffffff;
  align-self: center;
  font-family: Tourney;
}
.challenge4-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.challenge4-image {
  width: 100%;
  object-fit: cover;
}
.challenge4-image1 {
  width: 60%;
  object-fit: cover;
  padding-top: 12vh;
}
@media(max-width: 991px) {
  .challenge4-image {
    width: 100%;
  }
  .challenge4-image1 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .challenge4-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-size: cover;
    background-image: url("/playground_assets/frame%2034-04%2012-1500h.jpg");
  }
  .challenge4-text {
    color: #ffffff;
    font-family: Tourney;
  }
  .challenge4-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .challenge4-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .challenge4-text {
    text-align: center;
  }
  .challenge4-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
