.vicious7-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.vicious7-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-self: center;
  min-height: auto;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("/playground_assets/frame%2034-04%2012-1500h.jpg");
}
.vicious7-text {
  color: var(--dl-color-gray-white);
  font-size: 3em;
  max-width: 450px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Tourney;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-twounits);
}
.vicious7-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.vicious7-button:hover {
  transform: scale(1.02);
}
.vicious7-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  flex-direction: column;
  background-color: #000000;
}
.vicious7-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
}


.card {
  overflow: visible;
  width: 400px;
  height: 400px;
  margin-left:50%;
  margin-bottom: var(--dl-space-space-halfunit);
}

.card:hover {
  transform: scale(1.02);
}


.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  font-family: Courier New;
  font-size: 1.5rem;
  width: 99%;
  height: 99%;
  background-color: #2E383A;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}



@media(max-width: 991px) {
  .vicious7-container1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .vicious7-hero {
    height: 90vh;
    min-height: 90vh;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .vicious7-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .vicious7-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .vicious7-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .vicious7-container1 {
    grid-gap: var(--dl-space-space-halfunit);
    grid-template-columns: 1fr;
  }
  .card {
    margin-left:0%;
    size:30%;
  }
}
